{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
   
{% block body %}
<a href="{% url 'recipes:home' %}"><img src="{% static 'images/arrow-back.png' %}" alt=""></a>
<br>
<br>
    <div class="recipe-detail-view">
        <div class="recipe-detail">
            <div class="recipe-name-detail">
                <h1>{{ recipe.name }}</h1>
                <p class="text-muted">Posted on {{ recipe.publish_date|date:'F d, Y' }}</p>
            </div>
            <div class="recipe-photo-detail">
                {% if recipe.photo %}
                <img src="{{ recipe.photo.url }}" alt="">
                {% else %}
                <img src="{% static 'images/default1.png' %}" alt="">
                {% endif %}
            </div>
            
            <div class="recipe-description-detail">{{ recipe.description }}</div>
            <div class="recipe-author-img-detail"></div>
            <div class="recipe-author-detail">
                <p>By: {{ recipe.author.userprofile.profile_name }} </p>
            </div>
            <!-- <div class="recipe-ingredients-detail">
                <h3>Ingredients of {{ recipe.name }}: </h3>
                    {% if ingredients %}
                    <p>{{ ingredients| linebreaks}}</p>
                    {% else %}
                    <p>No Ingredients</p> 
                    {% endif %}
            </div>
            <div class="recipe-instructions-detail">
                <h3>Instructions:</h3>
                <p>{{ instructions| linebreaks}}</p>
            </div> -->
            <div class="recipe-instructions-detail">
                <p>{{ recipe.content|safe}}</p>
            </div>
            
            <!-- Comment Section -->
            <section class="comments">
                <h4>Post Comments <span class="no-of-comments">({{ recipe.comments.count }})</span></h4>

                {% if user.is_authenticated %}
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button class="btn btn-info" type="submit">Submit comment</button>
                </form>
                
                 
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn-info btn-block">Login to Comment</a>
                {% endif %}

                {% for comment in recipe.get_comments %}
                    <div class="user-comments mt-5">
                        <div class="left-info mr-4">
                            <img src="{{ comment.user.userprofile.profile_pic.url }}" alt="">

                        </div>
                        <div class="right-info">
                            <h5 class="comment-user">{{ comment.user.username }}</h5>
                            <p class="comment-date text-muted">{{ comment.timestamp|timesince }} ago</p>
                            <p class="comment-content">{{ comment.content | safe }}</p>
                        </div>
                    </div>
                {% endfor %}   

                
            </section>
    
    </div>
    </div>


    



{% endblock body %}